.listItem {
  width: 225px;
  height: 120px;
  background-color: white;
  margin-left: 5px;
  overflow: hidden;
  /* cursor: pointer; */
  transition: all 0.5s;
  position: relative;
}
.listItem:hover {
  transform: scale(1.4);
  margin: 0 50px;
  border-radius: 5px;
}

.listItem img,
.listItem video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.listItem video {
}
.listItem:hover .item-info {
  /* display: block; */
  opacity: 1;
  visibility: visible;
}

.listItem .item-info {
  padding-top: 30px;
  opacity: 0;
  visibility: hidden;
  /* display: none; */
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(22, 22, 22, 0.4);
  transition: all 0.5s;
}
.item-data span {
  display: block;
  font-size: 11px;
}
.item-icons {
  display: flex;
  justify-content: space-around;
}
.item-icons .icon {
  height: 25px;
  width: 25px;
  transition: all 0.5s;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.item-icons .icon:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
.item-data {
  padding: 0 0 10px 10px;
}
